@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


#root {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.menu {
  width: 60px;
  height: 20px;
  position: relative;
}

.menu span {
  height: 1.3px;
  width: 100%;
  background-color: #543E33;
  display: block;
  position: absolute;
  border-radius: 5px;
}

.menu-close {

  width: 60px;
  height: 60px;
  position: relative;
}

.menu-close span {
  height: 1.5px;
  width: 100%;
  background-color: white;
  display: inline-block;
  position: absolute;
  border-radius: 5px;
  transform-origin: center;
}

.menu-close span:nth-child(2) {
  top: 30px;
  transform: rotate(45deg);

}

.menu-close span:nth-child(1) {
  top: 30px;
  transform: rotate(-45deg);
}


/*  */

.menu span:nth-child(0) {
  top: 0;
}

.menu span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%);
}

.menu span:nth-child(2) {
  bottom: 0;
}


.light,
p {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
.max {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}